<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Hotel Management</title>
    <meta charset="utf-8">
    <!-- DEPENDENCIES -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/css/nav.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js" integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="http://127.0.0.1:5000/static/js/main.js"></script>
  </head>
  <body>
    <img id="backdrop-img" src="http://127.0.0.1:5000/static/images/background-5.jpg" alt="">
    <div id="backdrop-blur"></div>
    <nav class="menu" tabindex="0">
        <div class="smartphone-menu-trigger"></div>
      <header class="avatar">
        <img src="http://127.0.0.1:5000/static/images/logo.png"/>
        <h5>NTUA Research Database</h5>
      </header>
        <ul>
        <a href="/">
            <li tabindex="0" class="icon-dashboard"><span>Έργα</span></li>
        </a>
        <a href="/researchers">
        <li tabindex="0" class="icon-researchers"><span>Ερευνητές</span></li>
        </a>
        <a href="/organizations">
        <li tabindex="0" class="icon-organizations"><span>Οργανισμοί</span></li>
        </a>
        <a href="/programmes">
          <li tabindex="0" class="icon-dashboard"><span>Προγράμματα</span></li>
      </a>
      <a href="/members">
        <li tabindex="0" class="icon-dashboard"><span>Στελέχη</span></li>
    </a>
        <a href="/wonderkid">
        <li tabindex="0" class="icon-wonderkid"><span>Εργατικοί νέοι ερευνητές</span></li>
        </a>
        <a href="/least_deliverables">
            <li tabindex="0" class="icon-virus"><span>Ερευνητές χωρίς παραδοτέα</span></li>
        </a>
        <a href="/highest_financial_aid">
            <li tabindex="0" class="icon-financial_aid"><span>Στελέχη-Εταιρείες</span></li>
        </a>
        <a href="/input">
          <li tabindex="0" class="icon-financial_aid"><span>Εισαγωγή δεδομένων</span></li>
      </a>
    <a href="/oloidia">
      <li tabindex="0" class="icon-financial_aid"><span>Σταθεροί οργανισμοί</span></li>
  </a>
  <a href="/hot_topic">
    <li tabindex="0" class="icon-financial_aid"><span>Δημοφιλή επιστημονικά πεδία</span></li>
</a>
<a href="/interesting">
  <li tabindex="0" class="icon-financial_aid"><span>Έργα συναρτήσει επιστημονικών πεδίων</span></li>
</a>
      </ul>
    </nav>

    {% block content %}{% endblock %}
  </body>
</html>