{%extends "base.html" %}
{% block content %}
<div class ="clickable-table">
    <h3 id = 'ptitle'> {{results[0][0]}}</h3>
    <h3 id = 'pid'> {{ii}}</h3>
    <table>
    <thead>
        <tr>
            <th>Επιστημονικός σύμβουλος</th>
            <th>ID</th>
            <th>-</th>
            <th>-</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-href = "http://127.0.0.1:5000/researcher/{{superr[0][2]}}">{{superr[0][0]}} {{superr[0][1]}}</td>
            <td id = 'id'>{{superr[0][2]}}</td>
            <td data-href = "/deletion/{{q_name}}/{{term1}}/{{superr[0][2]}}/{{term2}}/{{ii}}">Απομάκρυνση ερευνητή</td>
            <td>Επεξεργασία στοιχείων ερευνητή</td>
        </tr>
    </tbody>
    </table>
</div>
<div class ="clickable-table">
    <h3 id = 'ptitle'> Ερευνητές που εργάζονται στο έργο</h3>
    <table>
    <thead>
        <tr>
            <th>Researcher</th>
            <th>ID</th>
            <th>-</th>
            <th>-</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <tr>
            <td data-href = "http://127.0.0.1:5000/researcher/{{result[3]}}">{{result[1]}} {{result[2]}}</td>
            <td id = 'id'>{{result[3]}}</td>
            <td data-href = "/deletion/{{q_name}}/{{term1}}/{{result[3]}}">Απομάκρυνση ερευνητή</td>
            <td>Επεξεργασία στοιχείων ερευνητή</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>
<div class ="clickable-table">
    <h3 id = 'ptitle'> Παραδοτέα του έργου</h3>
    <table>
    <thead>
        <tr>
            <th>Τίτλος</th>
            <th>Περίληψη</th>
            <th>Ημερομηνία</th>
            <th>Βαθμός</th>
            <th>-</th>
            <th>-</th>
        </tr>
    </thead>
    <tbody>
        {% for dell in deli %}
        <tr>
            <td>{{dell[1]}}</td>
            <td id = 'id'>{{dell[2]}}</td>
            <td >{{dell[3]}}</td>
            <td>{{dell[4]}}</td>
            <td data-href = "/deletion/{{q_name1}}/{{term2}}/{{dell[1]}}">Διαγραφή παραδοτέου</td>
            <td>Επεξεργασία παραδοτέου</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>

<div class ="clickable-table">
    <h3 id = 'ptitle'> Αξιολόγηση του έργου</h3>
    <table>
    <thead>
        <tr>
            <th>ID αξιολογητή</th>
            <th>Βαθμός</th>
            <th>Ημερομηνία</th>
            <th>-</th>
            <th>-</th>
        </tr>
    </thead>
    <tbody>
        {% for ev in eva %}
        <tr>
            <td>{{ev[1]}}</td>
            <td id = 'id'>{{ev[2]}}</td>
            <td >{{ev[3]}}</td>
            <td data-href = "/deletion/{{q_name2}}/{{term3}}/{{ev[0]}}">Διαγραφή αξιολόγησης</td>
            <td>Επεξεργασία αξιολόγησης</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>

{% endblock %}