{%extends "base.html" %}
{% block content %}
<div class = "clickable-table">
    <h3>Τα 5 στελέχη που έχουν χορηγήσει τις μεγαλύτερες χρηματοδοτήσεις προς την ίδια εταιρεία </h3>
    <table>
    <thead>
        <tr>
            <th>Ποσό</th>
            <th>Όνομα οργανισμού</th>
            <th>Όνομα στελέχους</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <tr>
            <td>{{result[0]}}</td>
            <td>{{result[1]}}</td>
            <td>{{result[2]}}</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>
</div>
{% endblock %}