{%extends "base.html" %}
{% block content %}
<form method = "POST" action= "#">
    <label>Προσθήκη Ερευνητικού κέντρου</label>
    <p>Συντομογραφία<input type = "text" name = "abbreviation"/></p>
    <p>Όνομα Οργανισμού<input type = "text" name = "orgname"/></p>
    <p>Τ.Κ.<input type = "number" name = "zip"/></p>
    <p>Δρόμος<input type = "text" name = "street"/></p>
    <p>Πόλη<input type = "text" name = "city"/></p>
    <p>Phone1<input type = "number" name = "phone1"/></p>
    <p>Phone2<input type = "number" name = "phone2"/></p>
    <p>Phone3<input type = "number" name = "phone3"/></p>
    <p>Προϋπολογισμός ιδιωτικών δράσεων<input type = "number" name = "money_their"/></p>
    <p>Προϋπολογισμός Υ.Π.<input type = "number" name = "money_other"/></p>
    <p>Ημερομηνία Ίδρυσης<input type = "date" name = "start_date"/></p>
    <p>Υποβολή<input type = "submit" value = "submit"/></p>
</form>



{% endblock %}