{%extends "base.html" %}
{% block content %}
<form method = "POST" action= "#">
    <label>Προσθήκη Έργου</label>
    <p>Τίτλος<input type = "text" name = "title"/></p>
    <p>Περίληψη {{orgs[0][0]}}<input type = "text" name = "abstract"/></p>
    <select name ="org_id">
        {%for org in orgs%}
        <option value = "{{org[0]}}">{{org[1]}}</option>
        {%endfor%}
    </select>
    <p>Πρόγραμμα ID<input type = "number" name = "programme_id"/></p>
    <p>Ποσό<input type = "number" name = "amount"/></p>
    <p>Ημερομηνία εκκίνησης<input type = "date" name = "start_date"/></p>
    <p>Ημερομηνία λήξης<input type = "date" name = "finish_date"/></p>
    <p>Επιστημονικός υπεύθυνος<input type = "number" name = "scientific_supervisor_id"/></p>
    <p>Υποβολή<input type = "submit" value = "submit"/></p>
</form>



{% endblock %}