{%extends "base.html" %}
{% block content %}
<div class ="clickable-table">
    <h3>Ερευνητές που εργάζονται σε τουλάχιστον 5 έργα χωρίς παραδοτέα</h3>
    <table >
    <thead>
        <tr>
            <th>Όνομα ερυενητή</th>
            <th>Επώνυμο ερευνητή</th>
            <th>Αριθμός έργων χωρίς παραδοτέα</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <tr>
            <td>{{result[1]}}</td>
            <td>{{result[2]}}</td>
            <td>{{result[3]}}</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>
</div>
{% endblock %}