{%extends "base.html" %}
{% block content %}
<div class ="clickable-table">
    <h3> Οργανισμοί που διαχείριζονταν ίδιο αριθμό έργων για 2 συνεχόμενα έτη</h3>
    <table>
    <thead>
        <tr>
            <th>Οργανισμός</th>
            <th>Έτος</th>
            <th>Αριθμός έργων</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <tr >
            <td>{{result[0]}}</td>
            <td>{{result[2]}}</td>
            <td>{{result[3]}}</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>
</div>
{% endblock %}