{%extends "base.html" %}
{% block content %}

<div class ="clickable-table">
    <h3>Ερευνητές</h3>
    <table id ="sortMe" class ="table">
    <thead>
        <tr>
            <th>Επίθετο</th>
            <th>Όνομα</th>
            <th>ID</th>
            <th>-</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <tr>
            <td data-href  ="http://127.0.0.1:5000/researcher/{{result[2]}}">{{result[1]}}</td>
            <td data-href  ="http://127.0.0.1:5000/researcher/{{result[2]}}">{{result[0]}}</td>
            <td>{{result[2]}}</td>
            <td data-href = "/deletion/{{table}}/{{term1}}/{{result[2]}}">Διαγραφή Ερευνητή</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>

<script>
    // Query the table
const table = document.getElementById('sortMe');

// Query the headers
const headers = table.querySelectorAll('th');

// Loop over the headers
[].forEach.call(headers, function (header, index) {
    header.addEventListener('click', function () {
        // This function will sort the column
        sortColumn(index);
    });
});

// Query all rows
const tableBody = table.querySelector('tbody');
const rows = tableBody.querySelectorAll('tr');

const sortColumn = function (index) {
    // Clone the rows
    const newRows = Array.from(rows);

    // Sort rows by the content of cells
    newRows.sort(function (rowA, rowB) {
        // Get the content of cells
        const cellA = rowA.querySelectorAll('td')[index].innerHTML;
        const cellB = rowB.querySelectorAll('td')[index].innerHTML;

        switch (true) {
            case cellA > cellB:
                return 1;
            case cellA < cellB:
                return -1;
            case cellA === cellB:
                return 0;
        }
    });

    // Remove old rows
    [].forEach.call(rows, function (row) {
        tableBody.removeChild(row);
    });

    // Append new row
    newRows.forEach(function (newRow) {
        tableBody.appendChild(newRow);
    });
};

newRows.sort(function(rowA, rowB) {
    // Get the content of cells
    const cellA = rowA.querySelectorAll('td')[index].innerHTML;
    const cellB = rowB.querySelectorAll('td')[index].innerHTML;
});
</script>
{% endblock %}