{%extends "base.html" %}
{% block content %}
<div class ="clickable-table">
    <h3> Ερευνητής {{results1[0][0]}} {{results1[0][1]}}</h3>
    <table>
    <thead>
        <tr>
            <th>Έργα στα οποία εργάζεται</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <tr >
            <td data-href="http://127.0.0.1:5000/project/{{result[1]}}">{{result[0]}}</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>
</div>
{% endblock %}